html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Raleway", serif;
}

.container_header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1EDE6;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 165px;
}

.bgc {
    display: flex;
    max-width: 470px;
    width: 100%;
}

.btn_menu {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: #E1EDE6;

}

.burger {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #4C5866;
    left: 5px;
}

.burger:nth-child(1) {
    transform: translateY(-6px);
}

.burger:nth-child(2) {}

.burger:nth-child(3) {
    transform: translateY(6px);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 100%;
}

.menu {
    width: 100%;
}

.menu-list {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.list {
    display: flex;
}

.link-list {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #2C2D35;
}

.link-list:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.btn_bye {
    display: none;
}


@media (max-width: 1200px) {
    .navbar {
        padding: 0 39px;
    }

    .btn_menu {
        max-width: 445px;
    }

    .nav-list {
        width: 100%;
    }

    .link-list {
        font-size: 18px;
    }
}



@media (max-width: 710px) {
    .container_header {
        min-height: 123px;
    }

    .navbar {
        display: block;
        padding: 0 33px;
        position: relative;
    }

    .bgc {
        max-width: 710px;
        align-items: center;
        justify-content: center;
    }

    .nav-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 23px;
    }

    .btn_menu {
        max-width: 710px;
        align-items: center;
        justify-content: center;
    }

    .header__burger-btn {}

    .burger {}

    .nav-list {}

    .menu {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #C3D1C6;

    }

    .menu-list {
        width: 100%;
        justify-content: space-between;
        margin-top: 4px;
    }

    .list {}

    .link-list {}

    .bye {}

    .btn_bye {
        display: none;
    }

    .bye_link {}
}

@media (max-width: 420px) {
    .header.open .menu-list {
        transform: translateX(100%);
    }

    .header.open .burger:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    .header.open .burger:nth-child(2) {
        opacity: 0;
    }

    .header.open .burger:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }

    .container_header {
        background-color: #fff;
        min-height: 130px;
    }

    .navbar {
        padding: 0;
    }

    .white {
        height: 68px;
        display: flex;
    }

    .nav-logo {
        margin: 0;
        width: 100%;
    }

    .bgc {
        background-color: #E1EDE6;
        min-height: 62px;
        width: 100%;
    }

    .btn_menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }

    .header__burger-btn {
        display: flex;
        margin-top: 11px;
        position: relative;
    }

    .header__burger-btn:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }

    .burger {
        transition: transform .5s, opacity .5s;
    }

    .nav-list {
        justify-content: end;
        width: 100%;
    }

    .menu {
        border: none;
        height: 24px;
    }
    .menu-list{
    }
    .header .menu-list {
        display: flex;
        max-width: 420px;
        display: block;
        background-color: #E1EDE6;
        height: 303px;
        margin-top: 43px;
        position: absolute;
        left: -100%;
        right: 0;
        padding-left: 15px;
        padding-top: 14px;
        transition: transform .5s;
    }

    .list {
        margin-bottom: 50px;
    }

    .link-list {}

    .bye {
        display: none;
    }

    .btn_bye {
        display: flex;
    }

    .btn_bye:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }

    .bye_link {}

}