html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Raleway", serif;
}

.container_header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1EDE6;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 165px;
}

.btn_menu {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 470px;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #0d00ff;
}

.burger {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #4C5866;
    left: 5px;
}

.burger:nth-child(1) {
    transform: translateY(-10px);
}

.burger:nth-child(2) {
    bottom: 13.5px;
}

.burger:nth-child(3) {
    transform: translateY(6px);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 100%;
}

.menu {
    width: 100%;
}

.menu-list {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.list {
    display: flex;
}

.link-list {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #2C2D35;
}

.link-list:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.btn_bye {
    display: none;
}


@media (max-width: 1200px) {
    .navbar {
        padding: 0 39px;
    }

    .btn_menu {
        max-width: 445px;
    }

    .nav-list {
        width: 100%;
    }

    .link-list {
        font-size: 18px;
    }
}



@media (max-width: 710px) {
    .container_header {
        min-height: 123px;
    }

    .navbar {
        display: block;
        padding: 0 33px;
        position: relative;
    }

    .nav-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 23px;
    }

    .btn_menu {
        max-width: 710px;
        align-items: center;
        justify-content: center;
    }

    .header__burger-btn {}

    .burger {}

    .nav-list {}

    .menu {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #C3D1C6;

    }

    .menu-list {
        width: 100%;
        justify-content: space-between;
        margin-top: 4px;
    }

    .list {}

    .link-list {}

    .bye {}

    .btn_bye {
        display: none;
    }

    .bye_link {}
}

@media (max-width: 420px) {
    .container_header {
        background-color: white;
    }

    .navbar {}

    .nav-logo {}

    .btn_menu {}

    .header__burger-btn {}

    .burger {}

    .nav-list {}

    .menu {}

    .menu-list {}

    .list {}

    .link-list {}

    .bye {}

    .btn_bye {}

    .bye_link {}

}